<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.aliasource.webmail.common.conversationlistenerfactory">
      <conversation_listener_factory
            implementation="fr.aliasource.webmail.indexing.ConversationListenerFactory">
      </conversation_listener_factory>
   </extension>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="fr.aliasource.webmail.indexing.SearchAction">
      </controlled_action>
   </extension>
   <extension
         point="fr.aliasource.index.core.crawlerfactory">
      <crawler_factory
            implementation="fr.aliasource.webmail.indexing.ConversationListenerFactory">
      </crawler_factory>
   </extension>

</plugin>
