/**
 * The file contains styles for GWT widgets in the chrome theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    html>body .gwt-Widget {
 *      Rule applies to all browsers (including IE7), except IE6
 *    }
 *    * html .gwt-Widget {
 *      Rule applied to IE6 only (not to IE7)
 *    }
 * 
 * Specifically, IE6 does not support images with multiple transparent colors,
 * so we need to use the AlphaImageLoader in IE6 only.
 */
body,table td,a,div,.p,pre {
	font-family: Arial, sans-serif;
	font-size: 11px;
}

body {
	color: black;
	border: 0px;
	padding: 0px;
	margin: 0px;
	background: white;
	direction: ltr;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

a,a:visited,a:hover,a:link {
	color: #0000AA;
}

.gwt-Hyperlink a,.gwt-Hyperlink a:hover,.gwt-Hyperlink a:link,.gwt-Hyperlink a:visited
	{
	color: #0000AA;
}

/**
 * The reference theme can be used to determine when this style sheet has
 * loaded.  Create a hidden div element with absolute position, assign the style
 * name below, and attach it to the DOM.  Use a timer to detect when the
 * element's height and width are set to 5px.
 */
.gwt-Reference-chrome {
	height: 5px;
	width: 5px;
	zoom: 1;
}

.gwt-Button {
	margin: 0;
	padding: 2px 4px;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
	cursor: hand;
	background: url("images/hborder.png") repeat-x 0px -27px;
	border: 1px solid #bbb;
}

.gwt-Button:active {
	border: 1px inset #ccc;
}

.gwt-Button:hover {
	border-color: #9cf #69e #69e #7af;
}

.gwt-Button[disabled] {
	cursor: default;
	color: #888;
}

.gwt-Button[disabled]:hover {
	border: 1px outset #ccc;
}

.gwt-CheckBox {
	
}

.gwt-CheckBox-disabled {
	color: #888;
}

.gwt-DecoratorPanel {
	
}

.gwt-DecoratorPanel .topCenter,.gwt-DecoratorPanel .bottomCenter {
	background: url(images/hborder.png) repeat-x;
}

.gwt-DecoratorPanel .middleLeft,.gwt-DecoratorPanel .middleRight {
	background: url(images/vborder.png) repeat-y;
}

.gwt-DecoratorPanel .topLeftInner,.gwt-DecoratorPanel .topRightInner,.gwt-DecoratorPanel .bottomLeftInner,.gwt-DecoratorPanel .bottomRightInner
	{
	width: 5px;
	height: 5px;
	zoom: 1;
}

html>body .gwt-DecoratorPanel .topLeft {
	background: url(images/corner.png) no-repeat 0px 0px;
}

html>body .gwt-DecoratorPanel .topRight {
	background: url(images/corner.png) no-repeat -5px 0px;
}

html>body .gwt-DecoratorPanel .bottomLeft {
	background: url(images/corner.png) no-repeat 0px -5px;
}

html>body .gwt-DecoratorPanel .bottomRight {
	background: url(images/corner.png) no-repeat -5px -5px;
}

* html .gwt-DecoratorPanel .topLeftInner {
	width: 5px;
	height: 5px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratorPanel .topRightInner {
	width: 10px;
	height: 5px;
	margin-left: -5px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratorPanel .bottomLeftInner {
	width: 5px;
	height: 10px;
	margin-left: 0px;
	margin-top: -5px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratorPanel .bottomRightInner {
	width: 10px;
	height: 10px;
	margin-left: -5px;
	margin-top: -5px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-DialogBox .Caption {
	background: #ebebeb url(images/hborder.png) repeat-x 0px -2003px;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #e3e3e3;
}

.gwt-DialogBox .dialogContent {
	
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background: white;
}

html>body .gwt-DialogBox .dialogBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
}

* html .gwt-DialogBox .dialogBottomCenter {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/hborder_blue_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-DialogBox .dialogMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

html>body .gwt-DialogBox .dialogMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
}

* html .gwt-DialogBox .dialogMiddleRight {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/vborder_blue_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 5px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

html>body .gwt-DialogBox .dialogTopLeft {
	background: url(images/corner.png) no-repeat -13px 0px;
}

html>body .gwt-DialogBox .dialogTopRight {
	background: url(images/corner.png) no-repeat -18px 0px;
}

html>body .gwt-DialogBox .dialogBottomLeft {
	background: url(images/corner.png) no-repeat 0px -15px;
}

html>body .gwt-DialogBox .dialogBottomRight {
	background: url(images/corner.png) no-repeat -5px -15px;
}

* html .gwt-DialogBox .dialogTopLeft {
	width: 5px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/corner_dialog_topleft.png', sizingMethod = 
		  
		    'crop' );
}

* html .gwt-DialogBox .dialogTopRight {
	width: 8px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/corner_dialog_topright.png', sizingMethod =
		
		  
		    'crop' );
}

* html .gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 23px;
	margin-top: -15px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DialogBox .dialogBottomRightInner {
	width: 13px;
	height: 23px;
	margin-left: -5px;
	margin-top: -15px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-DisclosurePanel {
	
}

.gwt-DisclosurePanel-open {
	
}

.gwt-DisclosurePanel-closed {
	
}

.gwt-DisclosurePanel .header,.gwt-DisclosurePanel .header a,.gwt-DisclosurePanel .header td
	{
	text-decoration: none; /* Remove underline from header */
	color: white;
	cursor: pointer;
	cursor: hand;
	text-transform: uppercase;
	font-weight: bolder;
}

.gwt-DisclosurePanel .content {
	
}

.gwt-FileUpload {
	
}

.gwt-Frame {
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
}

.gwt-HorizontalSplitPanel {
	
}

.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(images/vborder.png) repeat-y;
}

.gwt-VerticalSplitPanel {
	
}

.gwt-VerticalSplitPanel .vsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(images/hborder.png) repeat-x;
}

.gwt-HTML {
	
}

.gwt-Hyperlink {
	
}

.gwt-Image {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.gwt-Label {
	
}

.gwt-ListBox {
	
}

.gwt-MenuBar {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #cdcdcd;
}

.gwt-MenuBar-horizontal {
	background: #ebebeb url(images/hborder.png) repeat-x 0px -2003px;
	border: 1px solid #BBBBBB;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 0px 10px;
	vertical-align: bottom;
	color: #666666;
	font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	width: 1px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-left: 1px solid #888888;
	background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
	width: 1px;
	background: white;
}

.gwt-MenuBar-vertical {
	margin-top: 0px;
	margin-left: 0px;
	background: white;
}

.gwt-MenuBar-vertical table {
	border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 4px 14px 4px 1px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
	padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	height: 1px;
	padding: 0px;
	border: 0px;
	border-top: 1px solid #777777;
	background: #ddddee;
	overflow: hidden;
}

.gwt-MenuBar-vertical .subMenuIcon {
	padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: #cdcdcd;
}

.gwt-MenuBarPopup {
	margin: 0px 0px 0px 3px;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: url(images/hborder.png) 0px -12px repeat-x;
}

html>body .gwt-MenuBarPopup .menuPopupBottomCenter {
	background: url(images/hborder.png) 0px -13px repeat-x;
}

* html .gwt-MenuBarPopup .menuPopupBottomCenter {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/hborder_gray_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	background: url(images/vborder.png) -12px 0px repeat-y;
}

html>body .gwt-MenuBarPopup .menuPopupMiddleRight {
	background: url(images/vborder.png) -13px 0px repeat-y;
}

* html .gwt-MenuBarPopup .menuPopupMiddleRight {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/vborder_gray_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

html>body .gwt-MenuBarPopup .menuPopupTopLeft {
	background: url(images/corner.png) no-repeat 0px -36px;
}

html>body .gwt-MenuBarPopup .menuPopupTopRight {
	background: url(images/corner.png) no-repeat -5px -36px;
}

html>body .gwt-MenuBarPopup .menuPopupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -41px;
}

html>body .gwt-MenuBarPopup .menuPopupBottomRight {
	background: url(images/corner.png) no-repeat -5px -41px;
}

* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 41px;
	margin-top: -36px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 13px;
	height: 41px;
	margin-left: -5px;
	margin-top: -36px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 49px;
	margin-top: -41px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 13px;
	height: 49px;
	margin-left: -5px;
	margin-top: -41px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-PasswordTextBox {
	padding: 2px;
}

.gwt-PasswordTextBox-readonly {
	color: #888;
}

.gwt-PopupPanel {
	border: 3px solid #e3e3e3;
	padding: 3px;
	background: white;
}

.gwt-DecoratedPopupPanel .popupContent {
	
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
	padding: 3px;
	background: white;
}

.gwt-DecoratedPopupPanel .popupTopCenter {
	background: url(images/hborder.png) repeat-x;
}

html>body .gwt-DecoratedPopupPanel .popupBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
}

* html .gwt-DecoratedPopupPanel .popupBottomCenter {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/hborder_blue_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-DecoratedPopupPanel .popupMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

html>body .gwt-DecoratedPopupPanel .popupMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
}

* html .gwt-DecoratedPopupPanel .popupMiddleRight {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/vborder_blue_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

html>body .gwt-DecoratedPopupPanel .popupTopLeft {
	background: url(images/corner.png) no-repeat 0px -10px;
}

html>body .gwt-DecoratedPopupPanel .popupTopRight {
	background: url(images/corner.png) no-repeat -5px -10px;
}

html>body .gwt-DecoratedPopupPanel .popupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -15px;
}

html>body .gwt-DecoratedPopupPanel .popupBottomRight {
	background: url(images/corner.png) no-repeat -5px -15px;
}

* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 5px;
	height: 15px;
	margin-top: -10px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 13px;
	height: 15px;
	margin-left: -5px;
	margin-top: -10px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 5px;
	height: 23px;
	margin-top: -15px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 13px;
	height: 23px;
	margin-left: -5px;
	margin-top: -15px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-PushButton-up,.gwt-PushButton-up-hovering,.gwt-PushButton-up-disabled,.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
	{
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
}

.gwt-PushButton-up,.gwt-PushButton-up-hovering,.gwt-PushButton-up-disabled
	{
	padding: 3px 5px 3px 5px;
}

.gwt-PushButton-up {
	border: 1px outset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up-hovering {
	border: 1px outset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: .5;
	filter: alpha(opacity =         40);
	zoom: 1;
}

.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
	{
	padding: 4px 4px 2px 6px;
}

.gwt-PushButton-down {
	border: 1px inset #666;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down-hovering {
	border: 1px inset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: 0.5;
	filter: alpha(opacity =         40);
	zoom: 1;
}

.gwt-RadioButton {
	padding: 4px 4px 3px 3px;
}

.gwt-RadioButton-disabled {
	color: #888;
}

.gwt-RichTextArea {
	
}

.hasRichTextToolbar {
	border: 0px;
}

.gwt-RichTextToolbar {
	background: #ebebeb url(images/hborder.png) repeat-x 0px -2003px;
	border-bottom: 1px solid #BBBBBB;
	padding: 3px;
	margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	padding: 0px 1px 0px 0px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-StackPanel {
	border-bottom: 1px solid #bbbbbb;
}

.gwt-StackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	font-size: 1.3em;
	padding: 3px;
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

.gwt-StackPanel .gwt-StackPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-DecoratedStackPanel {
	border-bottom: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .gwt-StackPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
}

.gwt-DecoratedStackPanel .stackItemTopLeft,.gwt-DecoratedStackPanel .stackItemTopRight
	{
	height: 6px;
	width: 6px;
	zoom: 1;
}

html>body .gwt-DecoratedStackPanel .stackItemTopLeft {
	background: #e4e4e4 url(images/corner.png) no-repeat 0px -49px;
	border-left: 1px solid #bbbbbb;
}

html>body .gwt-DecoratedStackPanel .stackItemTopRight {
	background: #e4e4e4 url(images/corner.png) no-repeat -6px -49px;
	border-right: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemTopLeftInner,.gwt-DecoratedStackPanel .stackItemTopRightInner
	{
	width: 1px;
	height: 1px;
}

* html .gwt-DecoratedStackPanel .stackItemTopLeftInner {
	width: 6px;
	height: 55px;
	margin-top: -49px;
	overflow: hidden;
	border-left: 1px solid #bbbbbb;
	background-color: #d3def6;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratedStackPanel .stackItemTopRightInner {
	width: 12px;
	height: 55px;
	margin-top: -49px;
	margin-left: -6px;
	overflow: hidden;
	border-right: 1px solid #bbbbbb;
	background-color: #d3def6;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-DecoratedStackPanel .stackItemTopCenter {
	background: url(images/hborder.png) 0px -21px repeat-x;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeft {
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
	border-left: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,.gwt-DecoratedStackPanel .stackItemMiddleRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedStackPanel .stackItemMiddleRight {
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
	border-right: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleCenter {
	font-weight: bold;
	font-size: 1.3em;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft
	{
	border: 0px;
	background-color: white;
}

html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight
	{
	background-color: white;
}

* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner,* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRightInner
	{
	border: 0px;
	background-color: white;
}

* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner
	{
	padding-left: 1px;
}

* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeftInner,* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRightInner
	{
	background-color: white;
}

.gwt-SuggestBox {
	padding: 2px;
}

.gwt-SuggestBoxPopup {
	margin-left: 3px;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #424242;
	cursor: default;
}

.gwt-SuggestBoxPopup .item-selected {
	background: #cdcdcd;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
}

.gwt-SuggestBoxPopup .suggestPopupTopCenter {
	background: url(images/hborder.png) repeat-x;
}

html>body .gwt-SuggestBoxPopup .suggestPopupBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
}

* html .gwt-SuggestBoxPopup .suggestPopupBottomCenter {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/hborder_blue_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

html>body .gwt-SuggestBoxPopup .suggestPopupMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
}

* html .gwt-SuggestBoxPopup .suggestPopupMiddleRight {
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/ie6/vborder_blue_shadow.png', sizingMethod =
		   
		    'scale' );
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

html>body .gwt-SuggestBoxPopup .suggestPopupTopLeft {
	background: url(images/corner.png) no-repeat 0px -23px;
}

html>body .gwt-SuggestBoxPopup .suggestPopupTopRight {
	background: url(images/corner.png) no-repeat -5px -23px;
}

html>body .gwt-SuggestBoxPopup .suggestPopupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -28px;
}

html>body .gwt-SuggestBoxPopup .suggestPopupBottomRight {
	background: url(images/corner.png) no-repeat -5px -28px;
}

* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 5px;
	height: 28px;
	margin-top: -23px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 13px;
	height: 28px;
	margin-left: -5px;
	margin-top: -23px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 5px;
	height: 36px;
	margin-top: -28px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 13px;
	height: 36px;
	margin-left: -5px;
	margin-top: -28px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-TabBar {
	
}

.gwt-TabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-TabBar .gwt-TabBarRest {
	
}

.gwt-TabBar .gwt-TabBarItem {
	margin-left: 6px;
	padding: 3px 6px 3px 6px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-weight: bold;
	text-align: center;
	background: #e3e3e3;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	cursor: default;
	background: #bcbcbc;
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	padding: 6px;
	margin-right: 5px;
	background-color: #689DAF;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.gwt-DecoratedTabBar {
	
}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarRest {
	
}

.gwt-DecoratedTabBar .gwt-TabBarItem {
	border-collapse: collapse;
	margin-left: 6px;
}

.gwt-DecoratedTabBar .tabTopCenter {
	padding: 0px;
	background: #e3e3e3;
}

.gwt-DecoratedTabBar .tabTopLeft,.gwt-DecoratedTabBar .tabTopRight {
	padding: 0px;
	zoom: 1;
}

.gwt-DecoratedTabBar .tabTopLeftInner,.gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 6px;
	height: 6px;
}

html>body .gwt-DecoratedTabBar .tabTopLeft {
	background: url(images/corner.png) no-repeat 0px -55px;
}

html>body .gwt-DecoratedTabBar .tabTopRight {
	background: url(images/corner.png) no-repeat -6px -55px;
}

* html .gwt-DecoratedTabBar .tabTopLeftInner {
	width: 5px;
	height: 61px;
	margin-top: -55px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratedTabBar .tabTopRightInner {
	width: 12px;
	height: 61px;
	margin-top: -55px;
	margin-left: -6px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-DecoratedTabBar .tabMiddleLeft,.gwt-DecoratedTabBar .tabMiddleRight
	{
	width: 6px;
	padding: 0px;
	background: #e3e3e3 url(images/hborder.png) repeat-x 0px -1463px;
}

.gwt-DecoratedTabBar .tabMiddleLeftInner,.gwt-DecoratedTabBar .tabMiddleRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
	padding: 0px 4px 2px 4px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-weight: bold;
	text-align: center;
	background: #e3e3e3 url(images/hborder.png) repeat-x 0px -1463px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
	background: #747474;
}

html>body .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
	background-position: 0px -61px;
}

html>body .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
	background-position: -6px -61px;
}

* html .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeftInner {
	width: 5px;
	height: 67px;
	margin-top: -61px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

* html .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRightInner {
	width: 12px;
	height: 67px;
	margin-top: -61px;
	margin-left: -6px;
	overflow: hidden;
	filter: progid :         DXImageTransform.Microsoft.AlphaImageLoader ( 
		    
		  src =   
		
		    'gwt/chrome/images/corner.png', sizingMethod =         'crop' );
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight
	{
	background: #bcbcbc url(images/hborder.png) repeat-x 0px -2511px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
	cursor: default;
	background: #bcbcbc url(images/hborder.png) repeat-x 0px -2511px;
	color: white;
}

.gwt-TextArea {
	padding: 2px;
	font-size: 1em;
}

.gwt-TextArea-readonly {
	color: #888;
}

.gwt-TextBox {
	padding: 2px;
}

.gwt-TextBox-readonly {
	color: #888;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled,.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled
	{
	padding: 3px 5px 3px 5px;
}

.gwt-ToggleButton-up {
	border: 1px outset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-hovering {
	border: 1px outset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-disabled {
	border: 1px outset #ccc;
	cursor: default;
	color: #888;
}

.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	padding: 4px 4px 2px 6px;
}

.gwt-ToggleButton-down {
	background-position: 0 -513px;
	border: 1px inset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-hovering {
	background-position: 0 -513px;
	border: 1px inset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-disabled {
	background-position: 0 -513px;
	border: 1px inset #ccc;
	cursor: default;
	zoom: 1;
}

.gwt-Tree .gwt-TreeItem {
	margin: 0px;
	white-space: nowrap;
	cursor: hand;
	cursor: pointer;
}

/*  ################################################ */
#webmail_root {
	
}

.heading {
	background: url("images/head_bg.png") top repeat-x #4f9bbc;
	height: 25px;
	line-height: 1.2em;
	margin-bottom: 1em;
	color: #fff;
}

.heading .gwt-label {
	color: #fff;
}

.gwt-TabBarItem-wrapper .gwt-TabBarItem,.gwt-TabBarItem-wrapper-selected  .gwt-TabBarItem
	{
	padding: 3px 10px 0px;
	margin: 0px 2px;
	border-left: 1px solid #4d99ba;
	border-top: 1px solid #4d99ba;
	border-right: 1px solid #4d99ba;
	border-bottom: none;
	font-size: 12px;
	height: 20px;
}

.gwt-TabBarItem-wrapper .gwt-TabBarItem {
	background: #4d99ba;
	color: #96c2d5;
}

.gwt-TabBarItem-wrapper div.gwt-TabBarItem:hover {
	color: #fff;
}

.gwt-TabBarItem .gwt-Label {
	font-size: 12px;
	font-weight: normal;
}

.gwt-TabBarItem-wrapper-selected  .gwt-TabBarItem,.gwt-TabBarItem-wrapper-selected  div.gwt-TabBarItem:hover
	{
	background: url("images/tabCurrent_bg.png") top repeat-x #d9d9d9;
	color: #000;
	margin-bottom: -1px;
	padding-top: 4px;
}

.gwt-TabBar {
	background-color: #FFFFFF;
	border-bottom: 1px solid #509CBC;
	padding-top: 2px;
}

/* bouton de recherche */
.gwt-Button {
	font-family: arial, sans-serif;
}

.searchButton {
	background: url("images/buttonSearch_bg.png") no-repeat top left;
	padding-left: 25px;
	margin-left: 2px;
}

.searchBox {
	margin: 0px;
	margin-left: 90px;
}

.searchBox .gwt-TextBox {
	margin: 1px;
	width: 20em;
}

.deleteButton {
	background: url(images/buttonDel_bg.png) no-repeat top left;
	padding-left: 25px;
}

.dropDownArrowButton {
	background: url(images/buttonDropDown.png) no-repeat top right;
	padding-right: 20px;
}

/* Heading */
.logoutLabel {
	background: url("images/head_logOut.png") no-repeat 0px 2px;
	padding: 0px 0px 0px 18px;
}

.userNameLabel {
	background: url("images/head_identity.png") no-repeat 0px 2px;
	padding: 0px 0px 0px 18px;
}

.headingStdLinks td {
	background: url("images/head_separator.png") no-repeat top right;
	padding: 0 7px 0 3px;
}
.headingStdLinks a {
	color: #fff;	
}

.panelActions a {
	color: #fff;	
}

.replyZone .panelActions a {
	color: #0000AA;
}

.folderListBox .gwt-Label {
	background: url("images/folder.gif") no-repeat 2px;
	padding: 0px 0px 0px 20px;
}

/* table */
.conversationTable {
	background-color: white;
	border: none;
	border-spacing: 0px;
	width: 100%;
	table-layout: fixed;
}

.conversationTable tr:hover {
	background: #e2eef4;
}

.conversationTable td {
	border-bottom: 1px dotted #d9d9d9;
}

.convGrip {
	width: 1.2em;
	text-align: center;
}

.convCb {
	width: 1.5em;
}

.convStar {
	width: 1.5em;
	cursor: pointer;
}

.convRecip {
	width: 11em;
	cursor: pointer;
}

.convFolderTag {
	margin-right: 5px;
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-weight: normal;
	font-size: 90%;
}

.convSize {
	width: 2.5em;
	cursor: pointer;
}

.convAttach {
	width: 1.5em;
}

.convDate {
	width: 6em;
}

.conversationAndPreviewCol {
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.conversationPreview {
	color: #6B6B6B;
	cursor: pointer;
	font-size: 80%;
}

/* #################################################### */
.cursorWait {
	cursor: wait;
}

.conversationUnreadLabel {
	cursor: pointer;
	font-weight: bold;
}

.conversationReadLabel {
	cursor: pointer;
}

.conversationDisplay {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.conversationTitle {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dataGrid {
	height: 120px;
	background-color: white;
}

html>body .dataGrid {
	height: auto;
	min-height: 120px;
	background-color: white;
}

.mailComposer {
	
}

.whiteBackground {
	background-color: white;
}

.addressBook {
	margin-top: 5px;
}

.addressBookList {
	width: 100%;
}

.addressBookHeader {
	background: #D2D2D2;
}

.groupCount {
	text-align: right;
}

.addressBookItem {
	cursor: pointer;
}

.contactDetailKey {
	color: #888;
	text-align: right;
}

.selectedContactGroup {
	background-color: #82B1C8;
}

.inlineBlock {
	display: inline;
}

.recipientLabel1 {
	color: #4e9a06;
}

.recipientLabel2 {
	color: #611a75;
}

.recipientLabel3 {
	color: #4169e1;
}

.recipientLabel4 {
	color: #fd00d1;
}

.recipientLabel5 {
	color: #87cefa;
}

.recipientLabel6 {
	color: #ff0300;
}

.recipientLabel7 {
	color: #edd400;
}

.recipientLabel8 {
	color: #8ae234;
}

.recipientLabel9 {
	color: #961717;
}

.recipientLabel10 {
	color: #ad7fa8;
}

.recipientsCol {
	overflow: hidden;
	width: 100%;
	cursor: pointer;
	height: 1em;
}

.recipients {
	white-space: nowrap;
	width: 0;
	cursor: pointer;
	height: 1em;
}

.recipientsDetails {
	text-align: right;
	white-space: nowrap;
}

.recipientsDate {
	text-align: right;
	white-space: nowrap;
}

.obmLogo {
	position: absolute;
}

.noWrap {
	white-space: nowrap;
}

.bold {
	font-weight: bold;
}

.leftPanel {
	padding-left: 5px;
	padding-right: 5px;
	width: 14em;
}

.leftPanel table {
	table-layout: fixed;
}

.leftPanel a {
	line-height: 1.5em;
	color: #467d8b;
}

.leftPanel .folderLink {
	padding-left: 10px;
}

.decorativeButton {
	width: 100%;
	height: 24px;
	margin-bottom: 5px;
	background: #7faec2 url("images/buttonLeftPanel_bg.png") repeat;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #7faec2;
}

.decorativeButton td {
	vertical-align: middle;
}

.decorativeButton a,.decorativeButton a:hover,.decorativeButton a:link,.decorativeButton a:visited
	{
	margin-left: 10px;
	color: #20647B;
	text-decoration: none;
}

.decorativeButton .image {
	width: 20px;
}

.decorativeButton .image img {
	margin-left: 5px;
	margin-right: 5px;
}

.sidebarBox {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #689DAF;
	padding: 2px;
	width: 100%;
}

.sidebarBox .gwt-HTML {
	padding-left: 5px;
}

.currentDefaultLinkSelected {
	background: url("images/currentDefaultLinkSelected_bg.gif") no-repeat
		left center;
	padding-top: 1px;
	padding-bottom: 1px;
	display: block;
	width: 105%;
}

.chatSession {
	background-color: lightgray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.statusText {
	font-style: italic;
	color: gray;
	font-size: 80%;
}

.friendPresenter {
	cursor: pointer;
}
 
.labelsPanel {
	width: 100%;
}

.labelsList {
	height: 200px;
}

.bottomActions {
	width: 100%;
}

.folderTree {
	background-color: white;
}

.folderTree .gwt-Label,.folderTree .gwt-HTML {
	color: #3e7b8d;
	white-space: nowrap;
}

.folderTree .currentDefaultLinkSelected {
	height: 15px;
	background: url("images/currentDefaultLinkSelected_bg.gif") no-repeat
		0px 0px;
	z-index: 50;
}

.folderTree .gwt-Hyperlink {
	padding-top: 5px;
	float: right;
	width: auto;
}

.tree {
	z-index: 100;
}

.contentInfo {
	padding: 6px;
	padding-right: 0px;
	background-color: #b5edbc;
}

.emptyFolderPanel {
	padding: 6px;
	padding-right: 0px;
	background-color: #FFFFFF;
	border-bottom: 1px dotted #d9d9d9;
}

.selectAllPanel {
	padding: 6px;
	padding-right: 0px;
	background-color: #FFFFCC;
	border-bottom: 1px dotted #d9d9d9;
}

.clearSelectAllPanel {
	padding: 6px;
	padding-right: 0px;
	background-color: #FFFF80;
	border-bottom: 1px dotted #d9d9d9;
}

/**
 * Applied to ProgressBar.
 */
.quotaBar-shell {
	border: 1px solid #faf9f7;
	background-color: #AAAAAA;
	height: 5px;
	width: 100px;
	margin-right: 3px;
	cursor: pointer;
}

.quotaBar-shell .quotaBar-bar-low {
	background-color: green;
	float: left;
}

.quotaBar-shell .quotaBar-bar-high {
	background-color: red;
	float: left;
}

.quotaBar-shell .quotaBar-text {
	padding: 0px;
	margin: 0px;
	color: white;
}

.singleMessageHeader {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius: 5px;
	border-top: 1px solid #689DAF;
	border-left: 1px solid #689DAF;
	border-right: 1px solid #689DAF;
	padding: 2px;
	margin-bottom: -3px;
}

.singleMessageBody {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius: 5px;
	border-bottom: 1px solid #689DAF;
	border-left: 1px solid #689DAF;
	border-right: 1px solid #689DAF;
	margin-bottom: 1em;
}

/*
 * Forward message panel
 */
.forwardMessage {
	padding: 1em;
}

.forwardMessage .singleMessageHeader {
	border: none;
}

.forwardMessage .singleMessageBody {
	border: none;
}

.forwardMessage .content {
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #666;
	background-color: #F2F2F2;
}

.forwardMessage .header {
	cursor: pointer;
	font-weight: bold;
	background-color: #DDD;
	padding: 2px;
}

.messageText {
	padding: 10px;
}

.messageText2 {
	padding: 10px;
	color: #CCCCCC;
}

.replyZone {
	background-color: #ffe6cd;
	padding: 5px;
}

.replyLink {
	
}

.replyToAllLink {
	
}

.forwardLink {
	
}

.messageDetails {
	
}

.messageDetails .keys {
	color: #888888;
	vertical-align: top;
	text-align: right;
}

.advancedSearchHeader {
	background-color: #74DD82;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 3px;
}

.advancedSearchForm {
	background-color: #B5EDBC;
	border: 3px solid #74DD82;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	padding: 1em 3em 1em 3em;
}

.advancedSearchForm input[type=text] {
	width: 20em;
}

.advancedSearchForm .gwt-Label {
	font-weight: bold;
}

.advancedSearchFormLegend {
	text-align: right;
	font-size: 80%;
}

.attachmentTable {
	background-color: white;
	border: medium none;
	border-spacing: 0px;
}

.attachmentTable td {
	border-bottom: 1px dotted #BBBBBB;
}

.settingsTable {
	background: #FFF7D7 none repeat scroll 0 0;
	border: none;
	border-spacing: 0px;
}

.folderSettingsTable {
	background: #FFF7D7 none repeat scroll 0 0;
	border: none;
	border-spacing: 0px;
}

.folderSettingsTable tr.odd:hover {
	background-color: #fff;
}

.folderSettingsTable tr.even:hover {
	background-color: #fff;
}

.composerPopup tr:hover {
	background-color: #FFF7D7;
	cursor: pointer;
}

.settingsCell a {
	text-decoration: none;
}

td.settingsCell {
	border-bottom: 1px solid #FAD163;
	padding: 4px;
}

.subscribedFolderSettingsLink .folderSettingsLink {
	color: #006633;
	cursor: pointer;
	text-decoration: underline;
	font-size: 12px;
}

.subscribedFolderSettingsLink {
	font-weight: bold;
}

.folderSettingsLabel {
	color: #006633;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

/*Quoted text*/
.quotedText {
	
}

.quotedText-open {
	
}

.quotedText-closed {
	
}

.quotedText .header,.quotedText .header a,.quotedText .header td {
	text-decoration: none; /* Remove underline from header */
	cursor: pointer;
	font-size: 80%;
}

.quotedText .content {
	color: #6B6B6B;
}

.draggedConversations {
	background-color: #ffbf63;
	/*opacity: .5;*/ /*filter: alpha(opacity=40);*/
	padding: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.dropHighlight {
	background-color: #ffbf63;
}

.talkRoster {
	background-color: white;
	padding: 3px;
}

/* Address book */
.contactDisplay {
	background-color: white;
}

.contactDisplay .label {
	font-size: 150%;
	font-weight: bold;
}

/* Mail composer */
.enveloppe {
	width: 100%;
}

.enveloppe .enveloppeField {
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.enveloppe .gwt-Label {
	width: 6em;
	text-align: right;
	font-weight: bold;
}

.enveloppe .gwt-TextBox {
	width: 100%;
}

.enveloppe .gwt-SuggestBox {
	border: none;
}

.wrap {
	border: 1px solid #666;
	background: #FFF;
	padding-left: 3px;
	padding-bottom: 2px;
	cursor: text;
}

.enveloppe .recipient {
	border: 1px solid #82B1C8;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #eff2f7;
	margin-right: 4px;
	margin-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	cursor: default;
}

.enveloppe .recipient .deleteRecip {
	cursor: pointer;
}

.enveloppe .highlightRecipient {
	background: #82B1C8;
}

.enveloppe .recipient .gwt-Label {
	width: 100%;
	font-weight: normal;
	text-align: left;
	margin-left: 3px;
	margin-right: 3px;
	white-space: nowrap;
}

.enveloppe .gwt-Hyperlink {
	margin-right: 5px;
	margin-bottom: 5px;
}

.wrap .gwt-TextBox {
	border: none;
}

.bodyEditor {
	width: 100%;
	vertical-align: top;
}

.bodyEditor .gwt-TextArea {
	width: 100%;
	height: 100%;
	min-height: 16em;
}

.bodyEditor .gwt-RichTextArea {
	border: 1px solid #666;
	color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	min-height: 16em;
}

input[type=text] {
	border: 1px solid #666;
	color: #000000;
}

input[type=password] {
	border: 1px solid #666;
	color: #000000;
}

textarea {
	border: 1px solid #666;
	color: #000000;
}

/* date picker */
.gwt-DatePicker {
	border: 1px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
	color: #6b6b6b;
	cursor: default;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-family: Arial;
	font-size: 65%;
	padding: 2px;
	text-align: center;
	padding: 2px;
	outline: none;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector  td :focus {
	outline: none
}

/* 
* Calendar styles 
*/
.datePickerDays {
	background-color: white;
	width: 100%;
}

.datePickerWeekdayLabel {
	background: #dbe6de;
}

.datePickerWeekendLabel {
	background: #dbe7ef;
}

.datePickerDay {
	padding: 1px;
	cursor: hand;
	width: 1em;
}

.datePickerDayIsToday {
	border: 1px solid black;
	padding: 0px;
}

.datePickerDayIsWeekend {
	background: #f1f1f1;
}

.datePickerDayIsFiller {
	color: #bfbfbf;
	padding: 1px;
	cursor: hand;
}

.datePickerDayIsSelected {
	background: #aaccee;
}

.datePickerDayIsDisabled {
	color: graytext;
}

.datePickerDayIsHighlighted {
	border: 1px solid #eeeeee;
	padding: 0px;
}

.datePickerDayIsSelectedAndHighlighted {
	background: #bbddff;
}

/* 
* Month selector styles 
*/
.datePickerMonthSelector {
	background: #dbe6de;
	width: 100%;
	text-align: center;
}

.datePickerMonth {
	text-align: center;
	vertical-align: center;
	white-space: nowrap;
	font-weight: bold;
	font-size: 70%;
}

.datePickerPreviousButton {
	text-align: left;
}

.datePickerNextButton {
	text-align: right;
}

.eventsGrid {
	background: white;
}

.topEventCell {
	margin-top: 0px;
	border-top: 0px;
	border-right: 1px solid gray;
	border-bottom: 1px solid lightgray;
}

.bottomEventCell {
	margin-top: 0px;
	border-top: 0px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.topHourCell {
	margin-top: 0px;
	border-top: 0px;
	border-right: 1px solid gray;
	border-bottom: 0px;
	background: #f0d19c;
}

.bottomHourCell {
	margin-top: 0px;
	border-top: 0px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	background: #f0d19c;
}

.allDayZone {
	background: #f0d19c;
	border: 1px solid lightgray;
}

.ceGrid {
	background: white;
}

.ceGeneral {
	background: #f0d19c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ceOptions {
	background: lightgray;
}

.ceBox {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #82B1C8;
	padding: 2px;
}

/*invitation panel*/
.invitationPanel {
	padding: 6px;
	background-color: #c9dce2;
}

.invitationPanel .gwt-Hyperlink {
	padding-left: 0px;
}

.invitationPanel .keys {
	width: 25px;
	color: #888888;
	text-align: right;
	vertical-align: top;
}

.invitationPanel .agendaDate {
	font-weight: bold;
	font-size: 12px;
}

.invitationPanel .agendaPanel {
	float: right;
	margin-right: 20px;
	border: medium solid #689DAF;
	border-collapse: collapse;
}

.invitationPanel .agendaPanel tr {
	padding: 5px;
	border: 0px;
}

.invitationPanel .agendaPanel td {
	padding: 5px;
	border: 1px solid #689DAF;
}

.invitationPanel .agendaPanel .invitationDay {
	text-align: center;
}

.invitationPanel .agendaPanel ul li {
	list-style-type: none;
}

.invitationPanel .agendaPanel .agendaLine {
	margin: 0;
	padding: 5px 5px 0 5px;
}

.invitationPanel .agendaPanel .agendaDate {
	display: block;
	float: left;
	padding-right: 10px;
	vertical-align: top;
}

.invitationPanel .detailEvent {
	width: 100%;
}

.invitationPanel .detailEvent .gwt-Label {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.invitationPanel .detailEvent .titleEvent td {
	font-weight: bold;
}

.invitationPanel .detailEvent .ownerEvent td {
	font-weight: bold;
}

.invitationPanel .detailEvent .startEvent td {
	font-weight: bold;
}

.invitationPanel .detailEvent .going {
	display: block;
}

.invitationPanel .going a {
	vertical-align: top;
	padding-left: 3px;
	padding-right: 3px;
}

.invitationPanel .going .gwt-HTML {
	padding-top: 2px;
}

.invitationPanel .going div {
	float: left;
	height: 100%;
}

.statusPanel {
	height: 1.5em;
	width: 100%;
}

.notificationMessage {
	font-weight: bold;
	background: #fff1a8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 0px 0 2px;
}


/* Calendar styles*/

.hour {
  height: 20px;
  border-top:1px solid #CCC;
}

.halfHour {
  height: 20px;
  border-top:1px dotted #CCC;
}

.dayCol {
  border-left: 1px solid #CCC;
  height: 100%;
  position:relative;
}

.dayLabel {
  text-align:center;
}

.calendarHeader {
  padding-right:15px;	
  padding-bottom:3px;
  background:#C3D9FF;
}

.calendarBody {
	width:100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

.calendarTable {
	table-layout:fixed;
	width:100%;
}

.calendarTable tr {
  border-bottom: 1px solid #CCC;	
}

.allDayCol {
  background:#FFF;
  border-left: 1px solid #CCC;
  position:relative;
}

.event {
	z-index: 10;
	overflow:hidden;
	position:absolute;
  background-color: rgb(102, 140, 217);
  border: 1px solid rgb(41, 82, 163);
  border-radius: 3px;
  -webkit-border-radius:3px;
  color:#FFF;
}

.dispositionNotificationPanel {
	background-color: #ffe6cd;
	padding: 5px;	
	border-spacing: 4px 0px;
	width: 100%;
}

.dispositionNotificationPanel .content {
	padding: 0px;	
	border-spacing: 4px 0px;
}