<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.minig.backend.identity.source" name="source" schema="schema/org.minig.backend.identity.source.exsd"/>
   <extension
         point="org.minig.backend.settings.provider">
      <provider_factory
            implementation="org.minig.backend.identity.IdentitySettingsProvider">
      </provider_factory>
   </extension>

</plugin>
