<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.minig.backend.settings.provider" name="provider" schema="schema/org.minig.backend.settings.provider.exsd"/>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="org.minig.backend.settings.SettingsAction">
      </controlled_action>
   </extension>

</plugin>
