<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="fr.aliasource.webmail.message.MoveMessageAction">
      </controlled_action>
   </extension>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="fr.aliasource.webmail.message.DeleteMessageAction">
      </controlled_action>
   </extension>

</plugin>
