<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fr.aliasource.webmail.book.booksource" name="book_source" schema="schema/fr.aliasource.webmail.book.booksource.exsd"/>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="fr.aliasource.webmail.book.ContactGroupsAction">
      </controlled_action>
   </extension>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="fr.aliasource.webmail.book.GetContactsAction">
      </controlled_action>
   </extension>
   <extension
         point="fr.aliasource.webmail.proxy.completionsourcefactory">
      <completion_source_factory
            implementation="fr.aliasource.webmail.book.CompletionSourceFactory">
      </completion_source_factory>
   </extension>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="fr.aliasource.webmail.book.CreateContactAction">
      </controlled_action>
   </extension>

</plugin>
