<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="org.minig.filters.CreateOrUpdateFilter">
      </controlled_action>
      <controlled_action
            implementation="org.minig.filters.ListFilters">
      </controlled_action>
      <controlled_action
            implementation="org.minig.filters.RemoveFilter">
      </controlled_action>
      <controlled_action
            implementation="org.minig.filters.FetchVacation">
      </controlled_action>
      <controlled_action
            implementation="org.minig.filters.UpdateVacation">
      </controlled_action>
      <controlled_action
            implementation="org.minig.filters.FetchForward">
      </controlled_action>
      <controlled_action
            implementation="org.minig.filters.UpdateForward">
      </controlled_action>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/regenerateSieve.do"
            class="org.minig.filters.RegenerateSieve">
      </servlet>
   </extension>

</plugin>
