<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>MiniG Webmail</display-name>
	<description>
    MiniG is a GWT-based (i.e. full AJAX) webmail. To run
    with real mail data, a backend service (minig-backend) needs to be
    deployed on the IMAP server. The server side components provides
    caching and indexing features for MiniG.
  </description>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>fr.aliasource.webmail.server.LoginFilter</filter-class>
	</filter>

	<servlet>
		<servlet-name>lc</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.ListConversationsImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>heartbeat</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.HeartbeatImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>push</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.PushChannelImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>chatService</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.ChatServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>folderManager</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.FolderManagerImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>settingManager</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.SettingManagerImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.LoginImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.LogoutImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>session</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.Session</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>lemails</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.ListEmailsImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sca</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.ShowConversationImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>settings</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.GetSettingsImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>send</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.SendMessageImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.SearchImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>flags</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.SetFlagsImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>disposition-notification</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.DispositionNotificationImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>store</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.StoreMessageImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>listContacts</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.ContactsManagerImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>attachements</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.UploadAttachmentsImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.DownloadAttachmentsImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>downloadEml</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.DownloadEmlImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>export</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.export.ExportConversationImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>attachementsManager</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.AttachmentsManagerImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>composerParser</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.ComposerParserImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getQuota</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.GetQuotaImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getToken</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.GetTokenImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>filters</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.FilterManagerImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getInvitationInfo</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.invitation.GetInvitationInfoProxyImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>goingEvent</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.invitation.GoingInvitationProxyImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>XmppProxy</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.XmppProxyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ObmProxy</servlet-name>
		<servlet-class>fr.aliasource.webmail.server.ObmProxyServlet</servlet-class>
	</servlet>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>session</servlet-name>
		<url-pattern>/session</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ObmProxy</servlet-name>
		<url-pattern>/minig/obmProxy</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>XmppProxy</servlet-name>
		<url-pattern>/minig/proxy</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>lc</servlet-name>
		<url-pattern>/minig/lc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>heartbeat</servlet-name>
		<url-pattern>/minig/heartbeat</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>push</servlet-name>
		<url-pattern>/minig/push</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>chatService</servlet-name>
		<url-pattern>/minig/chatService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>folderManager</servlet-name>
		<url-pattern>/minig/folderManager</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>settingManager</servlet-name>
		<url-pattern>/minig/settingManager</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/minig/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/minig/logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>lemails</servlet-name>
		<url-pattern>/minig/lemails</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>sca</servlet-name>
		<url-pattern>/minig/sca</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>settings</servlet-name>
		<url-pattern>/minig/settings</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>send</servlet-name>
		<url-pattern>/minig/send</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/minig/search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>flags</servlet-name>
		<url-pattern>/minig/flags</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>disposition-notification</servlet-name>
		<url-pattern>/minig/disposition-notification</url-pattern>
	</servlet-mapping>
	

	<servlet-mapping>
		<servlet-name>store</servlet-name>
		<url-pattern>/minig/store</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>listContacts</servlet-name>
		<url-pattern>/minig/contacts</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>attachements</servlet-name>
		<url-pattern>/minig/attachements</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>downloadEml</servlet-name>
		<url-pattern>/downloadEml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/view/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/preview/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>export</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>attachementsManager</servlet-name>
		<url-pattern>/minig/attachementsManager</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>composerParser</servlet-name>
		<url-pattern>/minig/composerParser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getQuota</servlet-name>
		<url-pattern>/minig/getQuota</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getToken</servlet-name>
		<url-pattern>/minig/getToken</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>filters</servlet-name>
		<url-pattern>/minig/filters</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getInvitationInfo</servlet-name>
		<url-pattern>/minig/getInvitationInfo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>goingEvent</servlet-name>
		<url-pattern>/minig/goingEvent</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>WebmailUI.en.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/WebmailUI.en.html</location>
	</error-page>

</web-app>
