<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.aliasource.webmail.common.conversationlistenerfactory">
      <conversation_listener_factory
            implementation="org.minig.listener.preview.PreviewListenerFactory">
      </conversation_listener_factory>
   </extension>

</plugin>
