<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fr.aliasource.webmail.common.conversationlistenerfactory" name="conversationlistenerfactory" schema="schema/fr.aliasource.webmail.common.conversationlistenerfactory.exsd"/>
   <extension-point id="fr.aliasource.webmail.common.bodyformatter" name="bodyformatter" schema="schema/fr.aliasource.webmail.common.bodyformatter.exsd"/>
   <extension-point id="fr.aliasource.webmail.common.serverlocator" name="serverlocator" schema="schema/fr.aliasource.webmail.common.serverlocator.exsd"/>
   <extension-point id="fr.aliasource.webmail.common.previewer" name="previewer" schema="schema/fr.aliasource.webmail.common.previewer.exsd"/>
   <extension-point id="fr.aliasource.webmail.common.mailheadersfilter" name="mailheadersfilter" schema="schema/fr.aliasource.webmail.common.mailheadersfilter.exsd"/>

</plugin>
