<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fr.aliasource.webmail.proxy.completionsourcefactory" name="completionsourcefactory" schema="schema/fr.aliasource.webmail.proxy.completionsourcefactory.exsd"/>
   <extension-point id="fr.aliasource.webmail.proxy.controlledaction" name="controlledaction" schema="schema/fr.aliasource.webmail.proxy.controlledaction.exsd"/>

   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="fr.aliasource.webmail.proxy.Controller"
            load-on-startup="true">
      </servlet>
      <servlet
            alias="/updateSieve.do"
            class="fr.aliasource.webmail.proxy.UpdateSieve">
      </servlet>
      <servlet
            alias="/getActiveSieve.do"
            class="fr.aliasource.webmail.proxy.GetActiveSieve">
      </servlet>
      
      
   </extension>

   <extension
         id="proxyapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="any">
         <run
               class="fr.aliasource.webmail.proxy.Application">
         </run>
      </application>
   </extension>
   <extension
         id="proxy"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.aliasource.webmail.proxy.proxyapp"
            name="fr.aliasource.webmail">
         <property
               name="appName"
               value="fr.aliasource.webmail">
         </property>
      </product>
   </extension>


</plugin>
