<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.aliasource.webmail.common.mailheadersfilter">
         <mail_headers_filter
               implementation="fr.aliasource.webmail.disposition.DispositionHeadersFilter">
         </mail_headers_filter>
   </extension>
   <extension
         point="fr.aliasource.webmail.proxy.controlledaction">
      <controlled_action
            implementation="fr.aliasource.webmail.disposition.DispositionNotificationAction">
      </controlled_action>
   </extension>
</plugin>

