<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.aliasource.webmail.common.bodyformatter">
      <body_formatter
            implementation="fr.aliasource.webmail.formatting.PlainBodyFormatter">
      </body_formatter>
   </extension>
   <extension
         point="fr.aliasource.webmail.common.bodyformatter">
      <body_formatter
            implementation="fr.aliasource.webmail.formatting.HTMLBodyFormatter">
      </body_formatter>
   </extension>

</plugin>
